// Colors
:root {
    --code95-main-color: #005fa3;
    --code95-secondary-color: #dc3545;
    --code95-dark: #212529;
    --code95-light: #f8f9fa;
    
    // Fonts
    --code95-heading-font: 'Roboto', sans-serif;
    --code95-body-font: 'Roboto', sans-serif;
    
    // Spacing
    --code95-section-padding: 3rem;
} 